.subtask {
  display: flex;
  flex-direction: column;
  &__header {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(40, 54, 85, 0.3);
  }
  &__card,
  &__create {
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 3px 0;
    padding: 0 15px;
    justify-content: space-between;
    border: 1px solid rgba(40, 54, 85, 0.3);
    border-radius: 5px;
  }
  &__leftSide {
    display: flex;
    align-items: center;

    input {
      margin-right: 15px;
    }
  }
  &__rightSide {
    display: flex;
    align-items: center;
    padding: 0 15px 0 0;
    img {
      margin: 0 15px;
    }
  }
  &__checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
      background-color: gray;
    }
  }
  &__create {
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgba(40, 54, 85, 0.3);
  }
}
