:root {
  --primary-color: #283655;
  --background-color: #e3e6eb;
  --background-color-modal: rgba(102, 128, 244, 0.877);
  --background-color-btn: #667ff4;
  --background-color-modal-btn: #6a78b6;
  --color-priority-low: #598234;
  --color-priority-high: #ee693f;

  --z-index-for-modal: 10;
  --z-index-for-overlay: 5;
}
